* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: white;
    --alt-secondary-color: gray;

    --b-standard: 2px dashed var(--primary-color);
    --b-thin: 1px dashed var(--primary-color);
}

.d-flex {
    display: flex;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    position: relative;
}

#bg-bar {
    background-color: green;
    height: 15vh;
    width: 100%;
}

#bg {
    background-color: rgb(42, 3, 61);
    height: 85vh;
}

#container-app {
    width: 80%;
    height: 95%;
    background-color: white;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notification-alert-section {
    height: 40px;
}

aside {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#user {
    height: 50px;
}

#search-bar-container {
    background-color: rgb(231, 231, 231);
    border: var(--b-thin);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

#search-bar {
    background-color: var(--secondary-color);
    height: 80%;
    width: 96%;
    display: flex;
    align-items: center;
}

#search-bar input {
    border: 0;
}

#search-bar i {
    padding: 0 20px;
}

#wrapper-contacts {
    height: calc(100% - 128px);
}

#contacts {
    height: 100%;
    overflow-y: auto;
}

#message-app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-chat-container {
    height: calc(100% - 100px);
    overflow-y: auto;
    background-image: url('../img/mine.jpg');
}

.app-header {
    height: 50px;
    width: 100%;
    position: sticky;
}

#message-app footer {
    height: 50px;
    width: 100%;
}

img {
    width: 40px;
    border-radius: 50%;
}

.d-in-block {
    display: inline-block;
}

li {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.selected-contact {
    background-color: rgb(205, 205, 205);
}

#contacts p {
    font-size: 0.8rem;
    color: rgb(72, 72, 72);
}

.recived,
.sent {
    height: 100%;
    border: 1px solid black;
    width: 50%;
}

/* Debug */
.debug #container-app {
    background-color: red;
    border: var(--b-standard);
}

.debug aside {
    background-color: lightslategray;
    border: var(--b-thin);
}

.debug header,
.debug footer {
    background-color: aqua;
    border: var(--b-thin);
}

.debug #app {
    background-color: black;
}